@using Do_An_HDT_1988308.Service;
@using Do_An_HDT_1988308.Entities;
@{
    Layout = null;
    string totalMessage = string.Empty;
    var xl = new XL_USER();

    if (IsPost)
    {
        var userName = Request["username"];
        var passWord = Request["password"];

        xl.DangKy(userName, passWord);

        Response.Redirect("~/UI/MH_DANGNHAP.cshtml");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ĐĂNG KÝ</title>
</head>
<body>
    <div style="background-color: azure;text-align:center">
        <h1 style="text-align:center; color:palevioletred;">MÀN HÌNH ĐĂNG KÝ</h1><br />
        <form action="~/UI/MH_DANGKY.cshtml" method="post">
            <label>Username:</label><br>
            <input type="text" name="username" value=""><br><br />

            <label>Password:</label><br>
            <input type="password" name="password" value=""><br><br />

            <input type="submit" value="Dang ky">
        </form>


    </div>
</body>
</html>

