@using Do_An_HDT_1988308
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TRANG CHỦ</title>
</head>
<body style="background-color:aquamarine">
    <h1 style="text-align:center; color:palevioletred;">QUẢN LÝ CỬA HÀNG</h1>
    <div style="text-align:center">

        <a href="~/UI/MH_DANGNHAP.cshtml">ĐĂNG NHẬP</a> <br /><br />
        <a href="~/UI/MH_DANGKY">ĐĂNG KÝ</a><br /><br />
        <a href="~/UI/MH_DS_MATHANG.cshtml">DANH SÁCH MẶT HÀNG</a><br /><br />
        <a href="~/UI/MH_DS_LOAIHANG.cshtml">DANH SÁCH LOẠI HÀNG</a><br /><br />
        <a href="~/UI/MH_DS_HOADON_BAN.cshtml">DANH SÁCH HÓA ĐƠN BÁN HÀNG</a><br /><br />
        <a href="~/UI/MH_DS_HOADON_NHAP.cshtml">DANH SÁCH HÓA ĐƠN NHẬP HÀNG</a><br /><br />
        <a href="~/UI/MH_THONGKE_TONKHO.cshtml">THỐNG KÊ TỒN KHO</a><br /><br />
        <a href="~/UI/MH_THONGKE_HETHAN.cshtml">THỐNG KÊ HÀNG HẾT HẠN</a>

    </div>
    <div style="text-align:center; background-color:antiquewhite">
        <h3>*Lưu ý:</h3>
        <b> Đăng nhập trước khi truy cập các danh muc!!</b><br />
        <b> Nếu chưa có tài khoản vui lòng đăng ký trước</b><br />
        
    </div>
</body>
</html>