@using Do_An_HDT_1988308.Service;
@using Do_An_HDT_1988308.Entities;
@using System.Globalization;
@{
    Layout = null;
    string chuoi = string.Empty;
    var maHD = int.Parse(Request["id"]);
    var xl = new XL_HOADON_NHAP();
    HOADON_NHAP hdn = null;

    if (IsPost)
    {
        var tenHD = Request["tenHD"];
        var tenNCC = Request["tenNCC"];
        var tenMH = Request["tenMH"];
        var maLH = Request["maLH"];
        var sl = int.Parse(Request["sl"]);
        var dg = int.Parse(Request["dg"]);
        hdn = new HOADON_NHAP(maHD, tenHD, tenNCC, tenMH, maLH, sl, dg);
        xl.SuaHoaDonNhap(hdn);
        Response.Redirect("~/UI/MH_DS_HOADON_NHAP.cshtml");

    }
    else
    {
        hdn = xl.DocHoaDonNhap(maHD);
        if (hdn == null)
        {
            chuoi = "Hóa đơn nhập hàng này không tồn tại!!";
        }
    }


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> SỬA HD NHẬP</title>
 
</head>
<body>
    <div>
        <form action="~/UI/MH_SUA_HOADON_NHAP.cshtml?id=@maHD" method="post">
            <label>Nhập Tên Hóa Đơn: </label><br />
            <input type="text" name="tenHD" value="@if(hdn != null) {@hdn.TenHD}" /><br />
            <label>Nhập Tên Nhà Cung Cấp : </label><br />
            <input type="text" name="tenNCC" value="@if(hdn != null) {@hdn.TenNhaCC}" /><br />
            <label>Nhập Tên Mặt Hàng: </label><br />
            <input type="text" name="tenMH" value="@if(hdn != null) {@hdn.TenMH}" /><br />
            <label>Nhập Mã Loại Hàng: </label><br />
            <input type="text" name="maLH" value="@if(hdn != null) {@hdn.MaLH}" /><br />
            <label>Nhập Số Lượng: </label><br />
            <input type="text" name="sl" value="@if(hdn != null) {@hdn.SoLuong}" /><br />
            <label>Nhập Đơn Giá: </label><br />
            <input type="text" name="dg" value="@if(hdn != null) {@hdn.DonGia}" /><br /><br />

            <input type="submit" value="Sửa" /><br /><br />
        </form>
       
    </div>
</body>
</html>
