@using Do_An_HDT_1988308.Service;
@using Do_An_HDT_1988308.Entities;
@using System.Globalization;
@{
    Layout = null;
    string chuoi = string.Empty;
    var maHD = int.Parse(Request["id"]);
    var xl = new XL_HOADON_NHAP();
    if (IsPost)
    {


        xl.XoaHoaDonNhap(maHD);
        Response.Redirect("~/UI/MH_DS_HOADON_NHAP.cshtml");

    }
    else
    {
        chuoi = $"Bạn có muốn xóa Hóa đơn với ID: {maHD} không???";
    }


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> XÓA HD NHẬP</title>
 
</head>
<body>
    <h2>XÓA HÓA ĐƠN NHẬP</h2>
    @chuoi
    <div>

        <form action="~/UI/MH_XOA_HOADON_NHAP.cshtml?id=@maHD" method="post">
            
            <input type="submit" value="Xóa" /><br /><br />
        </form>
       
    </div>
</body>
</html>
